<div>
	<ion-nav-bar class="bar-stable">
          <ion-nav-back-button></ion-nav-back-button> 
      </ion-nav-bar>
	<ion-view view-title="Busqueda por Año">
		<ion-content>	
				<div class="item item-input-inset">
			    <label class="item-input-wrapper">
			      <input id="idfecha" type="text" placeholder="Año de Lanzamiento">
			    </label>
			    <a class="button button-small button-outline button-dark" href="/#/resultadofecha">
			      Buscar
			    </a>
			  </div>
		</ion-content>
	</ion-view>	
</div>