
<ion-view view-title="Lista de Comics">
	<ion-nav-buttons side="right">
   <!-- Toggle right side menu -->
   <a menu-toggle="right" class="button button-icon icon ion-search" href="/#/buscar" ></a>
   <!--<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-clear">
	    Cancel
	  </button>
	</div>-->
  </ion-nav-buttons>
	
	<ion-content>
        <ion-list>
          <ion-item class="item-thumbnail-left" ng-repeat="infocomic in comics" href="/#/info/{{infocomic.id}}">
            <img ng-src="{{infocomic.thumbnail.path}}/standard_small.jpg"/>
            <h2 class="infocomic-title">{{infocomic.title}}</h2>
            <p class="infocomic-description">{{infocomic.description | limitTo: 55}}{{infocomic.description.length > 55 ? '&hellip;' : '' }}</p>
          </ion-item>
        </ion-list>
          <ion-infinite-scroll
            on-infinite="cargarmas()"
            distance="1%">
          </ion-infinite-scroll>
      </ion-content>
</ion-view>